# files containing keys
.env
secrets.json

# VS code
.VSCode*

# intellij
.idea

# npm
node_modules

# hardhat compiler outputs
artifacts
cache

# solidity-docgen
docs/

# solidity coverage
coverage
coverage.json

#hardhat script outputs
scripts/data/wallets.json

#openzeppelin
.openzeppelin
